<!DOCTYPE html>
<html lang="ko" xmlns: xmlns:>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=no, shrink-to-fit=no">
  <meta property="og:title" content="VFUN - 블랙스쿼드 사전예약 중! [2021.03.11 ~ 2021.04.08]" />
  <meta property="og:description" content="사전예약 & 친구 추천하고 보상 받아 가세요!" />
  <meta property="og:image"
    content="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/reserve/meta-fb-min.jpg" />
  <meta name="twitter:title" content="VFUN - 블랙스쿼드 사전예약 중! [2021.03.11 ~ 2021.04.08]">
  <meta property="description" content="사전예약 & 친구 추천하고 보상 받아 가세요!" />
  <meta property="keywords"
    content="VFUN, The rise of the real FPS 블랙스쿼드, 블랙스쿼드, blacksquad, 사전예약, 블랙스쿼드 사전예약, 사전예약보상, 블랙스쿼드 친구초대 이벤트, 친구초대 달성 보상, 영구제 캐릭터, 특별한 무기, 친구추천 코드발급, FPS, 게임정보, 게임특징, 사양, 미디어, 동영상" />
  <meta name="twitter:description" content="사전예약 & 친구 추천하고 보상 받아 가세요!">
  <meta name="twitter:type" content="article">
  <meta name="twitter:url" content="https://blacksquad-ko.valofe.com/landing/reserve">
  <meta name="twitter:image"
    content="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/reserve/meta-tw-min.jpg">
  <meta property="og:type" content="website">
  <link rel="shortcut icon" href="https://file.valofe.com/Valofe_file/web/favicon/bls_favicon.ico" type="image/x-icon">
  <title>VFUN - 블랙스쿼드 사전예약 중! [2021.03.11 ~ 2021.04.08]</title>

  <!-- combine menu 추가 시작 -->
  <script type="text/javascript" src="https://file.valofe.com/Valofe_file/web/common/js/jquery-1.12.4.min.js"></script>
  <script type="text/javascript"
    src="https://file.valofe.com/Valofe_file/web/common/js/jquery.mousewheel.min.js"></script>
  <script type="text/javascript" src="https://file.valofe.com/Valofe_file/web/common/js/slick.min.js"></script>
  <script type="text/javascript" src="https://file.valofe.com/Valofe_file/web/common/js/aos.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css"
    crossorigin="" media="all" onload="if(media!='all')media='all'">
  <link rel="stylesheet" href="https://file.valofe.com/Valofe_file/web/vfun-ko/css/global_renewal.css">
  <link rel="stylesheet" href="https://file.valofe.com/Valofe_file/web/vfun-ko/css/valofe_common_renewal.css">
  <link rel="stylesheet" href="https://file.valofe.com/Valofe_file/web/vfun-ko/css/common/layer-popup.css">
  <!--[if lt IE 9]>
     <script src="https://file.valofe.com/Valofe_file/web/vfun/js/html5shiv.min.js"></script>
     <script src="https://file.valofe.com/Valofe_file/web/vfun/js/selectivizr-min.js"></script>
     <script src="https://file.valofe.com/Valofe_file/web/vfun/js/respond-1.4.2.min.js"></script>
     <script src="https://file.valofe.com/Valofe_file/web/vfun/js/remPolyfill.js"></script>
     <![endif]-->
  <!-- combine menu 추가 종료 -->

  <link href="https://file.valofe.com/Valofe_file/web/common/css/aos.css" rel="stylesheet">
  <link href="https://file.valofe.com/Valofe_file/web/common/css/slick.css" rel="stylesheet">
  <link href="https://file.valofe.com/Valofe_file/web/common/css/slick-theme.css" rel="stylesheet">
  <link rel="stylesheet" href="./reset.css">
  <link rel="stylesheet" href="./reserve.css">

</head>



<body id="teaser">
  <!-- loading -->
  <div class="wrap-loading display-none">
    <div class="loading-container">
      <div class="spinner__container spinner__effect--8">
        <ul class="spinner">
          <li class="spinner__square"></li>
          <li class="spinner__square"></li>
          <li class="spinner__square"></li>
          <li class="spinner__square"></li>
          <li class="spinner__square"></li>
          <li class="spinner__square"></li>
          <li class="spinner__square"></li>
          <li class="spinner__square"></li>
          <li class="spinner__square"></li>
        </ul>
      </div>
      <span class="loading-txt">Loading</span>
    </div>
  </div>

  <div id="wrapper">
    <div class="btn-shadow" onclick="fnToggleNav();"></div>
    <div id="header-mb">
      <img class="logo-blink"
        src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/teaser/sec1/logo.png"
        alt="black squad Logo">
      <h3 id="btn-nav" onclick="fnToggleNav();"><i class="fa fa-bars"></i></h3>
    </div>
    <header id="header" class="clearfix">
      <div class="row-w clearfix">
        <h1 id="logo">
          <a href="/landing/reserve">
            <!--onclick="fnNav('sec1Top');-->
            <img class="logo-blink"
              src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/teaser/sec1/logo.png"
              alt="black squad Logo">
          </a>
        </h1>
        <ul id="gnb">
          <li><a href="javascript:void(0);"><span class="deco-l"></span>홈<span class="deco-r"></span></a></li>
          <li><a href="javascript:void(0);"><span class="deco-l"></span>사전예약<span class="deco-r"></span></a></li>
          <li><a href="javascript:void(0);"><span class="deco-l"></span>이벤트 <span class="deco-r"></span></a>
            <ul class="nav-2depth invite-link">
              <li><a href="javascript:void(0);" data-tabindex="0">친구초대</a></li>
              <li><a href="javascript:void(0);" data-tabindex="1">추천인 보상</a></li>
            </ul>
          </li>
          <li>
            <a href="javascript:void(0);"> <span><span class="deco-l"></span>게임정보<span class="deco-r"></span></span></a>
            <ul class="nav-2depth info-link">
              <li><a href="javascript:void(0);">게임정보</a></li>
              <li><a href="javascript:void(0);">게임특징</a></li>
              <li><a href="javascript:void(0);">사양</a></li>
            </ul>
          </li>
          <li><a href="javascript:void(0);"><span class="deco-l"></span>미디어<span class="deco-r"></span></a></li>
          <li><a href="/support/faq" target="_blank" class="no-scroll"><span class="deco-l"></span>고객센터<span
                class="deco-r"></span></a></li>
        </ul>
        <div id="social">
          <ul id="sns">
            <li><a href="https://www.facebook.com/valofeblacksquad/" target="_blank"><i
                  class="fa fa-facebook-square"></i>&nbsp;&nbsp;새소식</a></li>
            <li><a href="https://www.youtube.com/c/BlackSquadOfficial" target="_blank"><i
                  class="fa fa-youtube-play"></i></a></li>
            <li><a href="https://discord.gg/2EkFsYEmAB" target="_blank"><img
                  src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/teaser/icon-discord.png"
                  alt="discord"></a></li>
          </ul>
        </div>
      </div>
    </header>
    <div id="content" class="clearfix">
      <!-- 이관메인 -->
      <section id="sec1" class="clearfix section section1 intro">
        <!-- 배경영상 -->
        <div class="bg-video"></div>
        <video id="main_video" playsinline="" loop="true" muted="muted" autoplay="autoplay" preload="auto" poster="">
          <!--<source src="" type="video/mp4">
                <source src="" type="video/webm">-->
        </video>
        <img src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/teaser/sec1/crack-l.png" alt="깨진 유리"
          class="crackL">
        <img src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/teaser/sec1/crack-r.png" alt="깨진 유리"
          class="crackR">

        <!-- 배경영상 -->
        <div class="row-w" id="container">
          <div class="tit-wrap" data-aos="fade-up" data-aos-duration="1500">
            <!--<img src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/teaser/sec1/main-title-bullet.png" alt="총알" class="bullet" data-aos="fade-right" data-aos-delay="600">-->
            <img src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/teaser/sec1/main-title-fire.png"
              alt="fire" class="tit-deco ggam" data-aos="zoom-in" data-aos-delay="600">
            <img src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/teaser/sec1/main-title-gun.png"
              alt="gun" class="tit-deco" data-aos="fade-right" data-aos-delay="600">
            <img
              src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/reserve/main/main-title-min.png?33"
              alt="다시 또, 새롭게 BLACK SQUAD" class="tit">
            <a href="javascript:goSec(2);" class="btn-reserve bbam"></a>
            <!-- 완료가 되면 (https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/reserve/common/btn-reserve-end-min.png) 로 교체해주세요. -->
          </div>
          <div class="mouse">
            <img src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/teaser/sec1/scroll-down.png"
              alt="scroll down">
          </div>
        </div>
      </section>
      <section id="sec2" class="clearfix section section2 pre-reservation rewards">
        <div class="row-w" data-aos="fade-up" data-aos-delay="300">
          <div id="title" class="title">
            <p>블랙스쿼드 사전예약</p>
            <h1>지금 밸로프 아이디로 로그인하고 사전예약을 완료하신 후 <br>사전예약 보상을 받아가세요!
              <!--<br>
                        <p class="invite-period">2021.02.25 ~ 2021.03.25</p>-->
            </h1>
          </div>
          <ul id="rewardItem" class="clearfix">
            <li>
              <dl>
                <dt><img
                    src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/reserve/rewards/bg-rewards-bullet-min.png"
                    alt="영점 배경" class="bg-bullet" data-aos="zoom-in" data-aos-delay="400" data-aos-duration="600">
                  <img
                    src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/reserve/rewards/rewards01-min.png"
                    alt="500불릿 이미지" class="reward">
                </dt>
                <dd>500 불릿</dd>
              </dl>
            </li>
            <li>
              <dl>
                <dt><img
                    src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/reserve/rewards/bg-rewards-bullet-min.png"
                    alt="영점 배경" class="bg-bullet" data-aos="zoom-in" data-aos-delay="400" data-aos-duration="600">
                  <img
                    src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/reserve/rewards/rewards02-min.png"
                    alt="K2 Taeguk 이미지" class="reward">
                </dt>
                <dd>K2 Taeguk <small>( 영구제 )</small></dd>
              </dl>
            </li>
            <li>
              <dl>
                <dt><img
                    src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/reserve/rewards/bg-rewards-bullet-min.png"
                    alt="영점 배경" class="bg-bullet" data-aos="zoom-in" data-aos-delay="400" data-aos-duration="600">
                  <img
                    src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/reserve/rewards/rewards03-min.png"
                    alt="Type 95 Chrome 이미지" class="reward">
                </dt>
                <dd>Type 95 Chrome <small>( 30일 )</small></dd>
              </dl>
            </li>
            <li>
              <dl>
                <dt><img
                    src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/reserve/rewards/bg-rewards-bullet-min.png"
                    alt="영점 배경" class="bg-bullet" data-aos="zoom-in" data-aos-delay="400" data-aos-duration="600">
                  <img
                    src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/reserve/rewards/rewards04-min.png"
                    alt="500불릿 이미지" class="reward">
                </dt>
                <dd>VFUN 선구자 명함 <small>( 영구제 )</small></dd>
              </dl>
            </li>
            <li>
              <dl>
                <dt><img
                    src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/reserve/rewards/bg-rewards-bullet-min.png"
                    alt="영점 배경" class="bg-bullet" data-aos="zoom-in" data-aos-delay="400" data-aos-duration="600">
                  <img
                    src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/reserve/rewards/rewards05-min.png"
                    alt="WEAPON BOX 이미지" class="reward">
                </dt>
                <dd>WEAPON BOX <small>( x3 )</small></dd>
              </dl>
            </li>
          </ul>

          <div class="do-reserve">
            <!-- <? if ($pre_registed) { ?>
            <img
              src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/reserve/common/btn-reserve-end-min.png">
            <? } else { ?> -->
            <a href="javascript:void(0);" onclick="formSubmit(); gtag('event', 'click' ,
              {'event_category': 'Pre_register' , 'event_label' :'사전예약완료'});" ) class="btn-reserve"></a>
            <form method="POST" action="/landing/set_pre_regist" id="targetForm">
              <label class="label-term" for="promo-agree">
                <input type="checkbox" id="promo-agree" name="promo-agree">&nbsp;이벤트 등 프로모션 정보 수신 동의
              </label>
            </form>
            <p class="not-yet-id"><a href="javascript:vfunKoSignup();"> 아직 밸로프 아이디가 없으신가요? <span>(회원가입)</span></a></p>
            <!-- <? } ?> -->
          </div>
        </div>
      </section>
      <section id="sec3" class="clearfix section section3 pre-reservation invitation">
        <ul id="inviteWrap">
          <li class="on">
            <div class="row-w" data-aos="fade-up" data-aos-delay="300">
              <div id="title" class="title">
                <p>블랙스쿼드 친구초대 이벤트</p>
                <h1>사전예약 완료 후 친구를 초대해서 함께 블랙스쿼드를 즐기세요!
                  <br>100% 영구제 캐릭터와 특별한 무기를 획득할 수 있는 기회를 놓치지 마세요!
                  <br>
                  <!--<p class="invite-period">2021.02.25 ~ 2021.03.25</p>-->
                </h1>
              </div>
              <div id="codeWrap" class="input-wrap">
                <input type="hidden" id="compliment_code">
                <input type="hidden" id="compliment_id">
                <label class="hidden" for="input-code"></label>
                <!-- <?php if ($isLogin) { ?>
                <?php if (empty($pre_invite_code)) { ?> -->
                <input type="text" value="" id="compliment-code" class="input-code" placeholder="코드발급 버튼을 눌러주세요~!"
                  readonly>
                <button type="button" class="button code issue-code" onclick="genInviteCode();"><span
                    class="hidden">친구추천 코드발급</span></button>
                <!-- <?php } else { ?>
                <input type="text" value="<?=$pre_invite_code?>" id="compliment-code" class="input-code" placeholder=""
                  readonly>
                <button type="button" class="button code copy-code"
                  onclick="javascript:fnCopyCode($('#compliment-code').val());">코드복사</button>
                <?php } ?>
                <?php } else { ?>
                <input type="text" value="" id="compliment-code" class="input-code" placeholder="로그인 후 참여 가능합니다."
                  readonly>
                <button type="button" class="button code issue-code" onclick="vfunKoLogin();"><span class="hidden">친구추천
                    코드발급</span></button>
                <?php } ?> -->
                <!--<button type="button" class="button code copy-code" onclick="">코드복사</button>-->
              </div>

              <div id="title" class="title title2">
                <p>친구초대 달성 보상</p>
              </div>
              <div class="invite-achieve-gage">
                <!-- <input type="text" value="<?=number_format($pre_invited_cnt)?>" id="numSuccess" readonly=""> -->
                <input type="text" value="8" id="numSuccess" readonly="">
                <!-- value 값 -->
                <div class="bar">
                  <div class="accum_percent clearfix">
                    <div class="accumWrap accumWrap_01">
                      <div class="accum ac_01" id="accum_01"></div>
                    </div>
                    <div class="accumWrap accumWrap_02">
                      <div class="accum ac_02 " id="accum_02"></div>
                    </div>
                    <div class="accumWrap accumWrap_03">
                      <div class="accum ac_03" id="accum_03"></div>
                    </div>
                    <div class="accumWrap accumWrap_04">
                      <div class="accum ac_04" id="accum_04"></div>
                    </div>
                    <!--<div class="accumWrap accumWrap_05">
                                        <div class="accum ac_05" id="accum_05"></div>
                                    </div>-->
                    <div class="accumWrap accumWrap_hole">
                      <div class="accum ac_hole" id="accum_hole" title="$pre_invited_cnt"></div>
                      <!-- title = #numSuccess 값 -->
                      <p class="invite-count-text">
                        <!-- #numSuccess 값 -->
                        <!-- <?=number_format($pre_invited_cnt)?>  --> <span></span> 명 달성!
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <ul class="invite-reward clearfix">
                <li data-aos="flip-left" data-aos-delay="300" data-duration="600">
                  <dl>
                    <dt>1명 초대</dt>
                    <dd>
                      <img
                        src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/reserve/invitation-event/invite-reward01-min.png"
                        alt="">
                      <p>500 BS Coin <br>100% DOUBLE UP <br class="set">부스터 7일</p>
                    </dd>
                  </dl>
                </li>
                <li data-aos="flip-left" data-aos-delay="400" data-duration="600">
                  <dl>
                    <dt>5명 초대</dt>
                    <dd>
                      <img
                        src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/reserve/invitation-event/invite-reward02-min.png"
                        alt="">
                      <p>M4 CUSTOM<br>GL DRAGON <br class="set">YELLOW 30일</p>
                    </dd>
                  </dl>
                </li>
                <li data-aos="flip-left" data-aos-delay="500" data-duration="600">
                  <dl>
                    <dt>10명 초대</dt>
                    <dd>
                      <img
                        src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/reserve/invitation-event/invite-reward03-min.png"
                        alt="">
                      <p>스탠+더들리<br>캐릭터 영구제</p>
                    </dd>
                  </dl>
                </li>
                <li data-aos="flip-left" data-aos-delay="600" data-duration="600">
                  <dl>
                    <dt>20명 초대</dt>
                    <dd>
                      <img
                        src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/reserve/invitation-event/invite-reward04-min.png"
                        alt="">
                      <p>레나+유이 캐릭터 7일<br>유이 캐릭터박스 3개</p>
                    </dd>
                  </dl>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <div class="row-w" data-aos="fade-up" data-aos-delay="300">
              <div id="title" class="title">
                <p>추천 코드 입력 보상</p>
                <h1>친구 초대를 받으셨나요?
                  <br>받은 코드를 입력만 해도 다음 선물을 받을 수 있어요!
                  <br>
                  <!--<p class="invite-period">2021.02.25 ~ 2021.03.25</p>-->
                </h1>
              </div>
              <div id="codeWrap" class="input-wrap">
                <input type="hidden" id="compliment_code">
                <input type="hidden" id="compliment_id">
                <label class="hidden" for="input-code"></label>

                <!-- <?php if ($isLogin) { ?> -->
                <input type="text" value="" id="compliment-code2" class="input-code" placeholder="코드를 입력해주세요">
                <button type="button" class="button code btn-input-code"
                  onclick="setRecommandCode(); gtag('event', 'click', {'event_category': 'Pre_register', 'event_label': '친구추천완료'});"><span
                    class="hidden">추천코드 입력</span></button>
                <!-- <?php } else { ?>
                <input type="text" value="" id="compliment-code2" class="input-code"
                  placeholder="코드를 입력해주세요 / 로그인 후 참여 가능합니다.">
                <button type="button" class="button code btn-input-code" onclick="vfunKoLogin();"><span
                    class="hidden">추천코드 입력</span></button>
                <?php } ?> -->
              </div>

              <div id="title" class="title title2">
                <p>추천 보상 아이템</p>
              </div>
              <div class="recommend-reward">
                <ul class="clearfix">
                  <li>
                    <dl>
                      <dt><img
                          src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/reserve/invitation-event/recommend-reward01-min.png?4"
                          alt="300 BS Coin"></dt>
                      <dd>300 BS Coin</dd>
                    </dl>
                  </li>
                  <li>
                    <dl>
                      <dt><img
                          src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/reserve/invitation-event/recommend-reward02-min.png?4"
                          alt="1,000 메달"></dt>
                      <dd>1,000 메달</dd>
                    </dl>
                  </li>
                  <li>
                    <dl>
                      <dt><img
                          src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/reserve/invitation-event/recommend-reward03-min.png?4"
                          alt="SIZ556XI RUS GL XTREME2 영구제"></dt>
                      <dd>SIZ556XI RUS<br>GL XTREME2 영구제</dd>
                    </dl>
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </section>
      <!-- sec4(구sec2) 게임정보-->
      <section id="sec4" class="clearfix section section4 info">
        <div class="chr-wrap">
          <img src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/teaser/sec2/sec2-chr3.png"
            alt="front woman character" class="bm" data-aos="fade-up">
          <img src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/teaser/sec2/sec2-chr4.png"
            alt="front woman character" class="bw" data-aos="fade-up">
          <img src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/teaser/sec2/sec2-chr1.png"
            alt="front woman character" class="fw" data-aos="fade-up" data-aos-delay="400">
          <img src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/teaser/sec2/sec2-chr2.png"
            alt="front woman character" class="fm" data-aos="fade-up" data-aos-delay="400">
        </div>
        <div class="bg-top">
          <img src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/teaser/sec2/flame1.png" alt="불꽃">
          <img src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/teaser/sec2/flame2.png" alt="불꽃2">
          <img src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/teaser/sec2/bg-sec2-1-shadow.png"
            alt="그림자배경">
        </div>
        <div class="row-w">
          <ul id="slide-wrap">
            <li class="s2-1">
              <div class="row-w">
                <div id="title" class="title" data-aos="fade-up" data-aos-delay="0" data-aos-offset="-200">
                  <div class="sight">
                    <img src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/teaser/sec2/sight-1.png"
                      alt="조준경1" class="s1">
                    <img src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/teaser/sec2/sight-2.png"
                      alt="조준경2" class="s1">
                    <img src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/teaser/sec2/sight-3.png"
                      alt="조준경3" class="s1">
                  </div>
                  <!--<img src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/teaser/sight-c.png" alt="조준경" class="sight rotateMin">-->
                  <h2>
                    <p>
                      <span>게임 대상 우수상</span><br>
                      2015년 대한민국 게임대상 우수상에 빛나는 온라인 모던 FPS 블랙스쿼드!
                    </p>
                    <p>
                      <span>스팀 천만 다운로드</span><br>
                      언스팀 글로벌 서비스 천만 다운로드 기록, Free To Play 게임 상위권을 유지하고 있는 블랙스쿼드!
                    </p>
                    <p>
                      <span>전세계가 즐기는 FPS</span><br>
                      한국, 인도네시아, 일본, 태국, 브라질, 러시아 등 전세계가 즐기는 블랙스쿼드!
                    </p>
                  </h2>
                </div>
              </div>
            </li>
            <li class="s2-2">
              <div class="row-w">
                <div id="title" class="title">
                  <div class="sight">
                    <img src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/teaser/sec2/sight-1.png"
                      alt="조준경1" class="s1">
                    <img src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/teaser/sec2/sight-2.png"
                      alt="조준경2" class="s1">
                    <img src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/teaser/sec2/sight-3.png"
                      alt="조준경3" class="s1">
                  </div>
                  <!--<img src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/teaser/sight-c.png" alt="조준경" class="sight rotateMin">-->
                  <h2>
                    <p>
                      <dfn><span>박진감 넘치는 전장 구현!</span></dfn> <br>
                      언리얼 엔진 3를 사용한 사실적인 그래픽과 강렬한 사운드!<br>
                      최대 32명이 팀을 이루어 동시에 플레이 가능!<br>
                      60여개에 달하는 다양한 맵!<br>
                    </p>
                    <p>
                      <dfn><span>익히기 쉽고 숙련도가 높아질수록 재미를 더해가는 플레이!</span></dfn> <br>
                      강렬한 타격감, 짜릿한 손맛을 느낄 수 있는 500개 이상의 무기!<br>
                      소음기, 조준경, 유탄발사기 등 각종 옵션이 장착된 총기 바로 사용!<br>
                    </p>
                    <p>
                      FPS의 고전인 섬멸, 폭파,근접, 암살 모드!<br>
                      무기를 계속 바꾸어가며 주어진 미션을 완료하는 <br><dfn><span>최신 암즈 레이스 모드</span></dfn>까지 20여개의 다양한 모드까지!<br>
                    </p>
                    <!--<dfn><span>스팀 1,000만 다운로드</span>를 견인한 <br>
                                    다양한 콘텐츠</dfn><br>
                                    친숙한 온라인 모던 FPS 요소와 함께 <br>
                                    다양한 병과스킬, AI디펜스 등<br>
                                    새로운 20여개 모드, 500개 이상의 아이템-->
                  </h2>
                </div>
              </div>
            </li>
            <li class="s2-3">
              <div class="row-w">
                <div id="title" class="title">
                  <div class="sight">
                    <img src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/teaser/sec2/sight-1.png"
                      alt="조준경1" class="s1">
                    <img src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/teaser/sec2/sight-2.png"
                      alt="조준경2" class="s1">
                    <img src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/teaser/sec2/sight-3.png"
                      alt="조준경3" class="s1">
                  </div>
                  <!--<img src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/teaser/sight-o.png" alt="조준경" class="sight rotateMin">-->
                  <h2>
                    <dfn>PC 권장 시스템 사양</dfn>
                  </h2>
                </div>
                <table class="spec">
                  <caption>게임사양표</caption>
                  <thead>
                    <th>권장 시스템</th>
                    <th>최소사양</th>
                    <th>권장사양</th>
                  </thead>
                  <tbody>
                    <tr>
                      <td>운영체제</td>
                      <td>Windows 7 64bit</td>
                      <td>Windows 10 64bit</td>
                    </tr>
                    <tr>
                      <td>CPU</td>
                      <td>CORE2 DUO 2.2GHZ / AMD Ahhlon 64 X2 2.66GHZ</td>
                      <td>CORE i3-4170 / AMD FX-8300</td>
                    </tr>
                    <tr>
                      <td>RAM</td>
                      <td>4GB</td>
                      <td>8GB</td>
                    </tr>
                    <tr>
                      <td>그래픽 카드</td>
                      <td>NVIDIA GEFORCE 8600 OR GT630 / RADEON HD 750</td>
                      <td>NVIDIA GTX 760 or AMD Radeon HD 7950 DirectX: Version 9.0</td>
                    </tr>
                    <tr>
                      <td>Direct X</td>
                      <td colspan="2">Version 9.0</td>
                    </tr>
                    <tr>
                      <td>Network</td>
                      <td colspan="2">Broadband Internet connection</td>
                    </tr>
                    <tr>
                      <td>Storage</td>
                      <td colspan="2">7 GB avaliable space</td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </li>
          </ul>
        </div>
      </section>
      <!-- sec5(구sec3) 게임정보-->
      <section id="sec5" class="clearfix section section5 media">
        <div class="row-w">
          <h2 data-aos="fade-up" data-aos-offset="-200">미디어</h2>
          <ul class="tab-name" data-aos="fade-up" data-aos-offset="-200">
            <li class="on"><a href="javascript:void(0);">동영상</a></li>
            <li><a href="javascript:void(0);">이미지</a></li>
          </ul>

          <div class="media-wrap" data-aos="fade-up" data-aos-offset="-200">
            <img src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/teaser/sight.png" alt="조준경"
              class="sight">
            <div class="video">
              <div class="video-slider-view slide-big">
                <div>
                  <video controls=""
                    poster="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/reserve/media/BS_Pis_Battista_45_ACP-min.jpg">
                    <source
                      src="https://file.valofe.com/Valofe_file/web/blacksquad/video/weapon/BS_Pis_Battista_45_ACP.webm"
                      type="video/webm">
                    <source
                      src="https://file.valofe.com/Valofe_file/web/blacksquad/video/weapon/BS_Pis_Battista_45_ACP.mp4"
                      type="video/mp4">
                  </video>
                </div>
                <div>
                  <video controls=""
                    poster="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/reserve/media/BS_Pis_SIZ-P220-min.jpg">
                    <source src="https://file.valofe.com/Valofe_file/web/blacksquad/video/weapon/BS_Pis_SIZ-P220.webm"
                      type="video/webm">
                    <source src="https://file.valofe.com/Valofe_file/web/blacksquad/video/weapon/BS_Pis_SIZ-P220.mp4"
                      type="video/mp4">
                  </video>
                </div>
                <div>
                  <video controls=""
                    poster="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/reserve/media/BS_Pis_sw629-min.jpg">
                    <source src="https://file.valofe.com/Valofe_file/web/blacksquad/video/weapon/BS_Pis_sw629.webm"
                      type="video/webm">
                    <source src="https://file.valofe.com/Valofe_file/web/blacksquad/video/weapon/BS_Pis_sw629.mp4"
                      type="video/mp4">
                  </video>
                </div>
                <div>
                  <video controls=""
                    poster="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/reserve/media/BS_Me_XIPHIAS-min.jpg">
                    <source src="https://file.valofe.com/Valofe_file/web/blacksquad/video/weapon/BS_Me_XIPHIAS.webm"
                      type="video/webm">
                    <source src="https://file.valofe.com/Valofe_file/web/blacksquad/video/weapon/BS_Me_XIPHIAS.mp4"
                      type="video/mp4">
                  </video>
                </div>
                <div>
                  <video controls=""
                    poster="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/reserve/media/BS_Me_Cyclone_Knife-min.jpg">
                    <source
                      src="https://file.valofe.com/Valofe_file/web/blacksquad/video/weapon/BS_Me_Cyclone_Knife.webm"
                      type="video/webm">
                    <source
                      src="https://file.valofe.com/Valofe_file/web/blacksquad/video/weapon/BS_Me_Cyclone_Knife.mp4"
                      type="video/mp4">
                  </video>
                </div>
                <div>
                  <video controls=""
                    poster="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/reserve/media/BS_Me_Kartran-min.jpg">
                    <source src="https://file.valofe.com/Valofe_file/web/blacksquad/video/weapon/BS_Me_Kartran.webm"
                      type="video/webm">
                    <source src="https://file.valofe.com/Valofe_file/web/blacksquad/video/weapon/BS_Me_Kartran.mp4"
                      type="video/mp4">
                  </video>
                </div>
                <div>
                  <video controls=""
                    poster="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/reserve/media/BS_Me_PUSH_DAGGER_32-min.jpg">
                    <source
                      src="https://file.valofe.com/Valofe_file/web/blacksquad/video/weapon/BS_Me_PUSH_DAGGER_32.webm"
                      type="video/webm">
                    <source
                      src="https://file.valofe.com/Valofe_file/web/blacksquad/video/weapon/BS_Me_PUSH_DAGGER_32.mp4"
                      type="video/mp4">
                  </video>
                </div>
                <div>
                  <video controls=""
                    poster="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/reserve/media/BS_Me_Shovel-min.jpg">
                    <source src="https://file.valofe.com/Valofe_file/web/blacksquad/video/weapon/BS_Me_Shovel.webm"
                      type="video/webm">
                    <source src="https://file.valofe.com/Valofe_file/web/blacksquad/video/weapon/BS_Me_Shovel.mp4"
                      type="video/mp4">
                  </video>
                </div>
                <div>
                  <video controls=""
                    poster="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/reserve/media/BS_AR_cz_bren_m2-min.jpg">
                    <source src="https://file.valofe.com/Valofe_file/web/blacksquad/video/weapon/BS_AR_cz_bren_m2.webm"
                      type="video/webm">
                    <source src="https://file.valofe.com/Valofe_file/web/blacksquad/video/weapon/BS_AR_cz_bren_m2.mp4"
                      type="video/mp4">
                  </video>
                </div>

                <div>
                  <video controls=""
                    poster="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/teaser/sec3/Sonar.png">
                    <source src="https://file.valofe.com/Valofe_file/web/blacksquad/video/1st_promotion_video.webm"
                      type="video/webm">
                    <source src="https://file.valofe.com/Valofe_file/web/blacksquad/video/1st_promotion_video.mp4"
                      type="video/mp4">
                  </video>
                </div>
              </div>
              <div class="video-slider-thumb slider-thumb">
                <div><img
                    src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/reserve/media/BS_Pis_Battista_45_ACP-min.jpg"
                    alt="BS_Pis_Battista_45_ACP"><span class="thumb-caption">Battista 45 ACP</span></div>
                <div><img
                    src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/reserve/media/BS_Pis_SIZ-P220-min.jpg"
                    alt="BS_Pis_SIZ-P220"><span class="thumb-caption">SIZ-P220</span></div>
                <div><img
                    src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/reserve/media/BS_Pis_sw629-min.jpg"
                    alt="BS_Pis_sw629"><span class="thumb-caption l1">SW 629</span></div>
                <div><img
                    src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/reserve/media/BS_Me_XIPHIAS-min.jpg"
                    alt="BS_Me_XIPHIAS"><span class="thumb-caption l1">XIPHIAS</span></div>
                <div><img
                    src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/reserve/media/BS_Me_Cyclone_Knife-min.jpg"
                    alt="BS_Me_Cyclone_Knife"><span class="thumb-caption l1">Cyclone Knife</span></div>
                <div><img
                    src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/reserve/media/BS_Me_Kartran-min.jpg"
                    alt="BS_Me_Kartran"><span class="thumb-caption l1">Kartran</span></div>
                <div><img
                    src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/reserve/media/BS_Me_PUSH_DAGGER_32-min.jpg"
                    alt="BS_Me_PUSH_DAGGER_32"><span class="thumb-caption">PUSH DAGGER 32</span></div>
                <div><img
                    src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/reserve/media/BS_Me_Shovel-min.jpg"
                    alt="BS_Me_Shovel"><span class="thumb-caption l1">Shovel</span></div>
                <div><img
                    src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/reserve/media/BS_AR_cz_bren_m2-min.jpg"
                    alt="BS_AR_cz_bren_m2"><span class="thumb-caption">CZ Bren M2</span></div>
                <div><img src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/teaser/sec3/Sonar.png"
                    alt="1st_promotion_video"></div>
              </div>
            </div>
            <div class="image">
              <div class="image-slider-view slide-big">
                <div><img
                    src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/teaser/sec3/Carrier.png"
                    alt="Carrier" onclick="fnSlideScreenshot(1)"></div>
                <div><img src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/teaser/sec3/Castle.png"
                    alt="Castle" onclick="fnSlideScreenshot(2)"></div>
                <div><img
                    src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/teaser/sec3/DoubleWing.png"
                    alt="DoubleWing" onclick="fnSlideScreenshot(3)"></div>
                <div><img src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/teaser/sec3/Temple.png"
                    alt="Temple" onclick="fnSlideScreenshot(4)"></div>
                <div><img
                    src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/teaser/sec3/WolfSpider.png"
                    alt="WolfSpider" onclick="fnSlideScreenshot(5)"></div>

                <div><img
                    src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/reserve/media/new1-min.jpg"
                    alt="screenshot" onclick="fnSlideScreenshot(6)"></div>
                <div><img
                    src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/reserve/media/new2-min.jpg"
                    alt="screenshot" onclick="fnSlideScreenshot(7)"></div>
                <div><img
                    src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/reserve/media/new3-min.jpg"
                    alt="screenshot" onclick="fnSlideScreenshot(8)"></div>
                <div><img
                    src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/reserve/media/new4-min.jpg"
                    alt="screenshot" onclick="fnSlideScreenshot(9)"></div>
                <div><img
                    src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/reserve/media/new5-min.jpg"
                    alt="screenshot" onclick="fnSlideScreenshot(10)"></div>
                <div><img
                    src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/reserve/media/new6-min.jpg"
                    alt="screenshot" onclick="fnSlideScreenshot(11)"></div>
                <div><img
                    src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/reserve/media/new7-min.jpg"
                    alt="screenshot" onclick="fnSlideScreenshot(12)"></div>
                <div><img
                    src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/reserve/media/new8-min.jpg"
                    alt="screenshot" onclick="fnSlideScreenshot(13)"></div>
              </div>
              <div class="image-slider-thumb slider-thumb">
                <div><img
                    src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/teaser/sec3/Carrier.png"
                    alt="Carrier"></div>
                <div><img src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/teaser/sec3/Castle.png"
                    alt="Castle"></div>
                <div><img
                    src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/teaser/sec3/DoubleWing.png"
                    alt="DoubleWing"></div>
                <div><img src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/teaser/sec3/Temple.png"
                    alt="Temple"></div>
                <div><img
                    src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/teaser/sec3/WolfSpider.png"
                    alt="WolfSpider"></div>

                <div><img
                    src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/reserve/media/new1-min.jpg"
                    alt="screenshot"></div>
                <div><img
                    src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/reserve/media/new2-min.jpg"
                    alt="screenshot"></div>
                <div><img
                    src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/reserve/media/new3-min.jpg"
                    alt="screenshot"></div>
                <div><img
                    src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/reserve/media/new4-min.jpg"
                    alt="screenshot"></div>
                <div><img
                    src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/reserve/media/new5-min.jpg"
                    alt="screenshot"></div>
                <div><img
                    src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/reserve/media/new6-min.jpg"
                    alt="screenshot"></div>
                <div><img
                    src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/reserve/media/new7-min.jpg"
                    alt="screenshot"></div>
                <div><img
                    src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/reserve/media/new8-min.jpg"
                    alt="screenshot"></div>
              </div>
            </div>
          </div>
        </div>
        <footer id="valofe-footer">
          <div class="row-w2">
            <div class="copyright">
              <span class="logo"><a href="https://www.valofe.com/platform" target="_blank"></a></span>
              <span class="ns-logo"><a href="javascript:void(0);"></a></span>
              <span class="text">© NS Studio, © VALOFE Co Ltd., all rights reserved.</span>
            </div>
          </div>
        </footer>
      </section>
      <!--<section id="sec6" class="clearfix section section6 pre-reservation customer"></section>-->
      <span></span>
    </div>
    <!--//content-->
  </div>

  <div class="local-pop-wrap">
    <!-- 동영상 팝업 -->
    <div class="layer-wrap local-pop" id="media">
      <div class="pop-layer">
        <div class="pop-container">
          <a href="javascript:void(0);" class="close" id="btnClosePop" onclick="fnClosePopup();">close</a>
          <div class="frame">
            <video id="media_popup" class="media-video" controls="">
              <source id="media_popup1"
                src="https://file.valofe.com/Valofe_file/web/blacksquad/video/1st_promotion_video.webm"
                type="video/webm">
              <source id="media_popup2"
                src="https://file.valofe.com/Valofe_file/web/blacksquad/video/1st_promotion_video.mp4" type="video/mp4">
            </video>
          </div>
        </div><!-- pop-container -->
      </div><!-- ./ pop-layer -->
      <div class="shadow-pop media" onclick="fnClosePopup();"></div>
    </div>
    <!-- 이미지 팝업 -->
    <div class="layer-wrap local-pop" id="screenshot">
      <div class="pop-layer">
        <div class="pop-container">
          <a href="javascript:void(0);" id="btnClosePop" onclick="fnClosePopup();">close</a>
          <div class="frame">
            <div class="wrap-artworks card slick-media-screenshot" id="slickScreenshot">
              <div><img src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/teaser/sec3/Carrier.png"
                  alt=""></div>
              <div><img src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/teaser/sec3/Castle.png"
                  alt=""></div>
              <div><img
                  src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/teaser/sec3/DoubleWing.png"
                  alt=""></div>
              <div><img src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/teaser/sec3/Temple.png"
                  alt=""></div>
              <div><img
                  src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/teaser/sec3/WolfSpider.png"
                  alt=""></div>
              <div><img
                  src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/reserve/media/new1-min.jpg"
                  alt="screenshot"></div>
              <div><img
                  src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/reserve/media/new2-min.jpg"
                  alt="screenshot"></div>
              <div><img
                  src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/reserve/media/new3-min.jpg"
                  alt="screenshot"></div>
              <div><img
                  src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/reserve/media/new4-min.jpg"
                  alt="screenshot"></div>
              <div><img
                  src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/reserve/media/new5-min.jpg"
                  alt="screenshot"></div>
              <div><img
                  src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/reserve/media/new6-min.jpg"
                  alt="screenshot"></div>
              <div><img
                  src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/reserve/media/new7-min.jpg"
                  alt="screenshot"></div>
              <div><img
                  src="https://file.valofe.com/Valofe_file/web/blacksquad/images/landing/reserve/media/new8-min.jpg"
                  alt="screenshot"></div>
            </div><!--  wrap-artworks -->
          </div><!-- ./  frame  -->
        </div><!-- ./ POP-container-->
      </div><!--  ./ pop-layer  -->
      <div class="shadow-pop screenshot" onclick="fnClosePopup();"></div>
    </div><!-- LAYER-WRAP -->
    <!-- 문구 팝업 -->
    <div class="layer-wrap local-pop" id="text">
      <div class="pop-layer">
        <div class="pop-container">
          <div class="frame">
            <a class="btn-layer-close" href="javascript:void(0);" onclick="fnClosePop();">x</a></h1>
            <div class="msg">
              <div class="wrap-txt" id="layer_pop_msg">
                <!--팝업메세지-->
              </div>
            </div>
            <div class="wrap-btn">
              <!-- 확인 버튼 -->
              <a href="javascript:void(0);" onclick="fnClosePopup();" class="btn1 btn-confirm"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="shadow text" onclick="fnClosePopup();" style="display: block;"></div>
    </div>
  </div>


  <div id="goTop">
    <a href="javascript:goSec(1);"></a>
  </div>
  <div id="share" class="clearfix">
    <ul class="sns-wrap clearfix">
      <li><a href="javascript:shareFacebook();" class="sns-facebook"></a></li>
      <li><a href="javascript:void(0);" class="sns-kakao"></a></li>
      <li><a href="javascript:copyURL();" class="sns-link"></a></li>
    </ul>
    <a href="javascript:void(0);" onclick="fnShowSnsShare();" class="do-share"></a>
  </div>



  <script type=" text/javascript" src="./custom-slick.js"></script>
  <script type="text/javascript" src="./custom.js"></script>
  <script type="text/javascript" src="./landing.js"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-45196362-78"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-45196362-78');
  </script>
  <script>
    var d_flag = false;

    // 예약
    function formSubmit() {
      if ($("input:checkbox[name=promo-agree]").is(":checked") != true) {
        $("#promo-agree").focus();
        $("#layer_pop_msg").html(" <?=$err_msg[98]?>");
        fnPopTxt();
        return false;
      }

      //$('#targetForm').submit();
      var formAction = $("#targetForm").attr('action');
      if (d_flag == true) return false;
      $.ajax({
        type: "POST",
        url: formAction,
        data: 'promo-agree=' + $("input:checkbox[name=promo-agree]").is(":checked") + '&<?=$nameCSRF?>=<?=$hashCSRF?>',
        dataType: 'json',
        success: function (data) {
          $("#layer_pop_msg").html(data.msg);
          fnPopTxt();
          if (parseInt(data.code) == 1) location.href = '/landing/reserve';
        },
        beforeSend: function () {
          d_flag = true;
          $('.wrap-loading').removeClass('display-none');
        },
        complete: function () {
          d_flag = false;
          $('.wrap-loading').addClass('display-none');
        }
      });
    }

    // 초대코드 발급
    function genInviteCode() {
      if (d_flag == true) return false;
      $.ajax({
        type: "POST",
        url: '/landing/set_invite_code',
        data: '<?=$nameCSRF?>=<?=$hashCSRF?>',
        dataType: 'json',
        success: function (data) {
          $("#layer_pop_msg").html(data.msg);
          fnPopTxt();
          /* 발급 성공하면 코드창 갱신 */
          if (parseInt(data.code) == 1) {
            $("#compliment-code").val(data.data);
            location.href = '/landing/reserve';
          }
        },
        beforeSend: function () {
          d_flag = true;
          $('.wrap-loading').removeClass('display-none');
        },
        complete: function () {
          d_flag = false;
          $('.wrap-loading').addClass('display-none');
        }
      });

      return false;
    }

    // 초대코드 입력
    function setRecommandCode() {

      if ($("#compliment-code2").val() == "") {
        $("#compliment-code2").focus();
        $("#layer_pop_msg").html("<?=$err_msg[89]?>");
        fnPopTxt();
        return false;
      }

      if (d_flag == true) return false;
      $.ajax({
        type: "POST",
        url: '/landing/set_recommand_code',
        data: 'recommand_code=' + $("#compliment-code2").val() + '&<?=$nameCSRF?>=<?=$hashCSRF?>',
        dataType: 'json',
        success: function (data) {
          $("#layer_pop_msg").html(data.msg);
          fnPopTxt();
          /* 추천 성공하면 코드창 갱신 */
          if (parseInt(data.code) == 1) {
            //location.href = '/landing/reserve';
          }
        },
        beforeSend: function () {
          d_flag = true;
          $('.wrap-loading').removeClass('display-none');
        },
        complete: function () {
          d_flag = false;
          $('.wrap-loading').addClass('display-none');
        }
      });

      return false;
    }

    // 로그인
    function vfunKoLogin() {
      window.location.href = '<?=MEMBER_URL?>/login/login.asp?service_code=<?=SERVICE_CODE?>&ret=<?=urlencode($currentURL)?>';
    }

    // 로그아웃
    function vfunKoLogout() {
      location.replace('<?=MEMBER_URL?>/login/logout_pcs.asp?service_code=<?=SERVICE_CODE?>&ret=<?=urlencode($currentURL)?>');
    }

    // 회원가입
    function vfunKoSignup() {
      window.open("about:blank").location.href = '<?=MEMBER_URL?>/join/member_join_pre.asp?service_code=<?=SERVICE_CODE?>&ret=<?=urlencode($currentURL)?>';
    }

    //복사하기
    function fnCopyCode(element) {
      var code = element;
      var $temp = $('<input>');
      $('body').append($temp);
      $temp.val(code).select();
      document.execCommand('copy');
      $temp.remove();

      $("#layer_pop_msg").html("추천코드를 복사하였습니다.");
      fnPopTxt();

    }

    $(document).ready(function () {
      /* 예약버튼 클릭 성공 후 페이지 로드 시 sec2 위치로 보여지기 */
      //($pre_registed? '$("#pre_registed_show").show();$("#not_pre_regist_show").hide();goSec(2);' : '$("#pre_registed_show").hide();$("#not_pre_regist_show").show();')
      // <?= ($pre_invite_code ? 'goSec(3);' : ($pre_registed ? 'goSec(2);' : '')) ?>
      /* 예약버튼 클릭 성공 후 페이지 로드 시 sec2 위치로 보여지기 */
    });
  </script>
  <script type="text/javascript" src="https://developer.kakao.com/sdk/js/kakao.js"></script>
  <script type='text/javascript'>
    //<![CDATA[
    // 카카오톡에 퍼가기
    // // 사용할 앱의 JavaScript 키를 설정해 주세요.
    Kakao.init('9b5e1125a0818adf2f33bd67765911da');
    // // 카카오링크 버튼을 생성합니다. 처음 한번만 호출하면 됩니다.
    Kakao.Link.createDefaultButton({
      container: '.sns-kakao',
      objectType: 'feed',
      content: {
        title: $('meta[property="og:title"]').attr('content'),
        description: $('meta[property="og:description"]').attr('content'),
        imageUrl: $('meta[property="og:image"]').attr('content'),
        link: {
          mobileWebUrl: window.location.href,
          webUrl: window.location.href
        }
      },
      social: {
        likeCount: 286,
        commentCount: 45,
        sharedCount: 845
      },
      buttons: [
        {
          title: '웹으로 보기',
          link: {
            webUrl: window.location.href
          }
        }
      ]
    });

    // 주소 복사 기능
    function copyURL() {
      var url = location.href;
      if (window.clipboardData) {
        var c = window.clipboardData.setData('Text', url);
        alert('주소가 복사되었습니다.\n\n원하는 곳에 ctrl + v 하세요.');
      } else {
        prompt("이 글의 트랙백 주소입니다. Ctrl+C를 눌러 클립보드로 복사하세요", url);
      }
    }

    // 페이스북에 퍼가기
    function shareFacebook() {
      //window.open('http://www.facebook.com/sharer.php?u=' + encodeURIComponent(location.href), 'ShareOnFacebook','toolbar=0,status=0,width=626,height=436');
      var u = encodeURIComponent(location.href);
      var t = $('meta[property="og:title"]').attr('content');
      //u = encodeURIComponent(u);
      t = encodeURIComponent(t);
      var fbUrl = 'http://www.facebook.com/sharer.php?u=' + u + '&t=' + t;
      window.open(fbUrl, 'share_facebook', 'toolbar=yes,location=no,directories=no,status=no,menubar=1,scrollbars=0,resizable=yes,width=650,height=500');
    }

    // 트위터에 퍼가기
    function shareTwitter() {
      var u = encodeURIComponent(location.href);
      var t = $('meta[property="og:title"]').attr('content');
      var url = "http://twitter.com/intent/tweet?url=" + u + "&text=" + t;
      window.open(url);
    }
    //]]>
  </script>
</body>

</html>